@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratBlack.woff2") format("woff2"),
    url("../assets/fonts/MontserratBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../assets/fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratBold.woff2") format("woff2"),
    url("../assets/fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../assets/fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratMedium.woff2") format("woff2"),
    url("../assets/fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratRegular.woff2") format("woff2"),
    url("../assets/fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratLight.woff2") format("woff2"),
    url("../assets/fonts/MontserratLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratExtraLight.woff2") format("woff2"),
    url("../assets/fonts/MontserratExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/MontserratThin.woff2") format("woff2"),
    url("../assets/fonts/MontserratThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
